<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Y</title>
        {% else %}
            <title>Welcome to Y</title>
        {% endif %}
        <link rel="stylesheet" href="/public/css/main.css"/>
        <script src="/public/js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <img id="logo" src="/public/images/logo.jpg"/>
            <div>Y: <a href="/">Home</a></div>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
