{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Posts Section -->
    <div class="row">
        <div class="col-12">
            {% for post in posts %}
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.author.username }}</h5>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="text-muted small">Posted on: {{ post.created-at }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not posts %}
                <div class="row">
                    <div class="col text-center">
                        <p class="text-muted">No posts to display.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
